<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>Movies Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/ihover.css') }}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Napier Movie Catalogue</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore Movies<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/movies/top-rated/">Top Rated</a></li>
            <li><a href="/movies/upcoming/">Upcoming</a></li>
          </ul>
        </li>
		
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movie Genres<span class="caret"></span></a>
          <ul class="dropdown-menu">
		  <li><a href="/movies/genres/Action/">Action</a></li>
		  <li><a href="/movies/genres/Adventure/">Adventure</a></li>
            <li><a href="/movies/genres/Crime/">Crime</a></li>
            <li><a href="/movies/genres/Comedy/">Comedy</a></li>
            <li><a href="/movies/genres/Drama/">Drama</a></li>
			<li><a href="/movies/genres/Family/">Family</a></li>
			<li><a href="/movies/genres/Horror/">Horror</a></li>
			<li><a href="/movies/genres/Romance/">Romance</a></li>
			<li><a href="/movies/genres/Science-Fiction/">Science Fiction</a></li>
			<li><a href="/movies/genres/Superhero/">Superhero</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/movies/genres/random/">Random Genre</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="test404/">About</a></li>
      </ul>
    </div>
  </div>
</nav>
	
<div> {% block body %}{% endblock %}</div>

	
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>
